body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}
    h1 {
        font-size: 28px;
        margin-bottom: 5px;
        text-align: center;
        color: white;
    }


.centered {
    margin: 0;
}

main {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.box1 {
    background-color: #a0550f; /* Example color */
    padding: 80px;
    border-radius: 10px;
    flex: 1;
}

.box2 {
    background-color: #00ccff; /* Example color */
    padding: 50px;
    border-radius: 10px;
}

.bio {
    color: white;
}
